.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message__avatar {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__timeStamp {
  color: grey;
  font-weight: 400;
  font-size: 12px;
}

.message__info {
  padding-left: 10px;
}
